.wrapper {
  display: flex;
}

.like,
.dislike {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 50%;
  border: none;
  transition: transform 0.3s linear;
}

.like:hover,
.dislike:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.like {
  background-image: url('../../images/like.svg');
  background-size: cover;
}

.dislike {
  background-image: url('../../images/dislike.svg');
  background-size: cover;
}

.selectedLike {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.charRows {
  padding: 10px 30px;
}

.charRows > li {
  margin-top: 5px;
}

.noChars {
  margin: 20px;
}

.img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.showBtn {
  margin-left: 20px !important;
}
